footer {
	background-color: #4c4c4c;
	box-shadow: 0 -3px 15px  #222;
}

.copyright {
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.f-l__img {
	background-image: url(../assets/logo2.png),  url(../assets/logo1.png);
	height: 50px;
	width: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.f-l__text {	
	text-transform: uppercase;
	font-size: 29px;
	letter-spacing: 2px;
	color: #ffffff;
	font-family: "Lucida Sans";
	font-style: italic;
	text-align: center;
}